<div class="form-group">
  <label for="name" class="col-sm-2 control-label">Trait Name</label>
  <div class="col-sm-10">
    <input type="text" ng-model="trait.name" class="form-control" id="name" placeholder="Trait Name"/>
  </div>
</div>
<div class="form-group">
  <label for="attr_name" class="col-sm-2 control-label">Trait Type</label>
  <div class="col-sm-10">
    <select id="attr_name" ng-model="trait.attr_name"
            ng-options="type_option.attr_name as type_option.name for type_option in type_options" class="form-control">
    </select>
  </div>
</div>
<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <a class="btn btn-danger" href="#/traits">Cancel</a>
    <input type="submit" class="btn btn-primary" value="Save"/>
  </div>
</div>