<div class="container pad-top">
  <a ui-sref="newLoad" class="btn-primary btn-lg nodecoration">Add New Load</a>
  <table class="table loadtable">
      <tr>
          <td><h3>My Loads</h3></td>
          <td></td>
      </tr>
      <tr ng-repeat="load in loads">
          <td>{{load.name}}</td>
          <td>{{load.load_date}}</td>
          <td>{{load.caliber}}</td>
          <td>
              <a class="btn btn-primary" ui-sref="viewLoad({id:load.id})">View</a>
              <a class="btn btn-danger"  ng-click="deleteLoad(load)">Delete</a>
          </td>
      </tr>
  </table>
</div>
