<div class="container pad-top">
  <h3>{{load.name}}</h3>
  <table class="table table-bordered table-striped table-hover loadtable">
      <tr>
          <td><strong>Name</strong></td>
          <td style="width: 80%;">{{load.name}}</td>
      </tr>
      <tr>
          <td><strong>Load Date</strong></td>
          <td>{{load.load_date | date:'MM-dd-yyyy'}}</td>
      </tr>
      <tr>
          <td><strong>Caliber</strong></td>
          <td>{{load.caliber.name}} - {{load.caliber.cal_type}} - {{load.caliber.metric}} {{load.caliber.inches}}&quot;</td>
      </tr>
      <tr>
          <td><strong>Primer</strong></td>
          <td>{{load.primer.name}}</td>
      </tr>
      <tr>
          <td><strong>Bullet</strong></td>
          <td>{{load.bullet.name}}</td>
      </tr>
      <tr>
          <td><strong>Powder</strong></td>
          <td>{{load.powder.name}}</td>
      </tr>
      <tr>
          <td><strong>Charge</strong></td>
          <td>{{load.charge}}</td>
      </tr>
      <tr>
          <td><strong>Trim Length</strong></td>
          <td>{{load.trim}}</td>
      </tr>
      <tr>
          <td><strong>Overall Length</strong></td>
          <td>{{load.oal}}</td>
      </tr>
      <tr>
          <td><strong>Velocity</strong></td>
          <td>{{load.velocity}}</td>
      </tr>
      <tr>
          <td><strong>Quantity</strong></td>
          <td>{{load.qty}}</td>
      </tr>
      <tr>
          <td><strong>Notes</strong></td>
          <td>{{load.notes}}</td>
      </tr>
  </table>
  <div>
      <a class="btn btn-danger" href="#/loads">My Loads</a>
      <a class="btn btn-primary" ui-sref="editLoad({id:load.id})">Edit</a>
  </div>
</div>
